header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    background-color: #ECF7FB;
    padding: 50px 0;
}

.titre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: #f2b737;
    text-shadow: 0.2px 0.1px 0.5px black;
}